
<div ng-app="demoApp">
	<h1>NycVisits#index</h1>
	<p>Find me in app/views/nyc_visits/index.html.erb</p>
	<p>1+8={{1+8}}</p>

	<p><h1>ItenararyMAX</h1> | When | Likes | Events | Itenarary</p>
	<hr/>
	<div data-ng-controller="ItenararyWhenCtrl">
		<h2>When</h2>
		<h3>date-range:</h3>
		<form>
		  Start day: <input type="date" id="daysFrom" data-ng-model="ItenararyMAX.daysFrom" > {{ItenararyMAX.daysFrom}}
		  <br>
		  Final Day: <input type="date" id="daysTo" data-ng-model="ItenararyMAX.daysTo"  > {{ItenararyMAX.daysTo}}
		  <br>
		  <button data-ng-click="whenChanged()" >Compute NYC visit days...</button>
		  <br> <br>
		  <table border="1">
		  	<tr>
		  	  <th>Day</th>
		  	  <th>Start</th>
		  	  <th>End</th>
		  	  <th>Edit?</th>
		  	</tr>
		  	<tr ng-repeat="day in days">
		  	  <td>{{day.date}}</td>
		  	  <td>{{day.timeStart}}</td>
		  	  <td>{{day.timeStop}}</td>
		  	  <td><button class="btn btn-mini">Edit</button></td>
		  	</tr>
		  </table>
		</form>
	</div>
	<hr/>
	<h2>Must Do in NYC</h2>
	  <form>
	  	<input type="checkbox" value="mustDo.bicycling"> bicycling <br>
	  	<input type="checkbox" value="mustDo.dining out"> dining out <br>
	  	<input type="checkbox" value="mustDo.fishing"> fishing <br>
	  	<input type="checkbox" value="mustDo.golfing"> golfing <br>	
	  	<input type="checkbox" value="mustDo.hiking"> hiking <br>
	  	<input type="checkbox" value="mustDo.history"> history &amp; culture <br>
	  	<input type="checkbox" value="mustDo.horse riding"> horse riding <br>
	  	<input type="checkbox" value="mustDo.recreation"> parks &amp; recreation <br>
	  	<input type="checkbox" value="mustDo.performances">	performances <br>
	  	<input type="checkbox" value="mustDo.shopping">	shopping <br>
	  	<input type="checkbox" value="mustDo.sightseeing"> sightseeing<br>
	  	<input type="checkbox" value="mustDo.sports"> sports <br>
	  	<input type="checkbox" value="mustDo.tours">guided tours <br>
	  	<input type="checkbox" value="mustDo.tennis"> tennis <br>
	  	<input type="checkbox" value="mustDo.visual arts"> visual arts <br>
	  	<input type="checkbox" value="mustDo.water sports"> water sports <br>
	  	<input type="checkbox" value="mustDo.wildlife viewing"> wildlife viewing <br>
	  </form>
	<hr/>
	<h2>Events</h2>
	  <form>

	  </form>
	<hr/>
	<h2>Itenarary</h2>
	  <form>
	  </form>

</div>